include ../../data/modal-info.data.pug

mixin modal-info()
  .modal-info
    ul.modal-info__list.js-info-tabs
      each item, i in modalInfo.list
        - const activeClass = (i === 0) ? 'active' : null;
        li.modal-info__item(class=activeClass data-content=item.dataContent)
          .modal-info__slider.js-modal-slider
            .swiper-container
              ul.swiper-wrapper
                each img in item.images
                  li.swiper-slide
                    img(src=img, alt="")
          h2.modal-info__title !{item.title}
          .modal-info__content
            each para, key in item.paras
              p !{para}
