mixin description(props)
  - const { title, paras, author, repo } = props;

  section.description
    h1 !{title}
    .description__text
      each item in paras
        p !{item}
    .description__credits
      a.description__repo(href=repo.link) !{repo.name}
      a.description__author(href=author.git) !{author.name}
